.whitearea{
    background: white;
    padding: 28px;
}
.md{
    width: 1200px;
    margin: 0 auto;
}
.whiteareain {
    height: 100%;
    
}
/* 上面是版型 */
.navbox{
    height: 84px;
   
}
/* 珠峰培训顶头照片 */
.logo{
    width: 176px;
    height: 52px;
    float: left;
    overflow: hidden;
    margin-top: 16px;

}
.logo>a{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../zflogo.png") center center no-repeat;
    background-size: cover;
}
/* 导航 */
.navbox a{
    font-size: 14px;
    color: #2a2a2a;

}
.navin{
   
    /* height: 30px; */
   
    float: left;
    margin-top: 38px;
}
.navin>a{
    font-size: 14px;
    color: #2a2a2a;
    /* float: right; */
    margin-left: 45px;

}
/* 信息 购物车 */
.message{
    float: right;
   

}
.message>a{
    float: left;
}
/* 购物车图标代码 */
.message .cartbox{
    width: 75px;
    line-height: 25px;
    height: 25px;
    background: url("购物车")
    left center no-repeat;
    text-indent: 28px;
    margin-top: 29px;
  

}
.message .login， message .regestor{
    margin-top: 37px;
}
.message .login{
   margin-top: 32px;
   margin-left: 39px;
}
.regeastor{
    margin-top: 32px;
    margin-left: 39px;
}
.bannerbox{
    height: 361px;
    background: pink;
    position: relative;
}
.bannerin a{
    display: block;
    height: 361px;
    background: url("../10.png") center center no-repeat;
}
.slidebar{
    width: 240px;
    height: 100%;
   position: absolute;
   left: 0;
   top: 0;
  
   font-size: 14px;
   background: rgba( 0,0,0,0,2);
}
.slidebar>li{
    padding: 0 25px;
}

.slidebar a{
    color: #fff;
    height: 72px;
    line-height: 72px;
    display: block;
    border-bottom: 1px solid #fff;
}
/* 箭头 */
.slidebar a>span{
    float: left;
}
.slidebar a>img{
    float: right;
    margin-top: 30px;
}
.slidebar li:last-child>a{
    border: none;
}
/* 侧边栏背景颜色 */
.slidebar li:hover{
    background: rgba( 11,11,11,0.3);
}
/* 侧边图片大小和隐藏 */
.slidebar .content{
    width: 500px;
    height: 100%;
    position: absolute;
    left: 234px;
    top: 0;

    display: none;
}
/* 当鼠标滑上的时候出现侧边图片 */
.slidebar>li:hover .content{
    display: block;
}
/*热门推荐照片 第二部分 */
.recommentbox{
    color: #2b2b2b;
    font-size: 16px;
}
/* 实战上下边框距离 */
.recommentbox h3{
    margin:39px 0 19px 0;
}
/* 下列框照片 */
.lists li{
    float: left;
    margin-right: 65px;
    background:  url("../monkey.png") center top no-repeat;
    position: relative;
    box-shadow: 0px 0px 10px 10px rgba( 2,2,2,1);
/* 第一个值：x轴偏移
第二个值：y轴偏移
第三个值：阴影模糊度
第四个值：阴影的大小 */
    box-shadow: 0px 2px 5px 3px;
}
.recommentbox li:last-child{
    margin-right:0;
}
/* 我修改的 */
.slidebar li .content{
    position: absolute;
    left: 240px;
    height: 100%;
    display: none;
    background: palegreen;
}
.slidebar li:hover .content{
    display: block;
}
.lists li a{ 
    width: 251px;
    height: 182px;
    display: block;}
.lists .bottombox{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;

    padding: 15px 15px 0 15px;
    box-sizing: border-box;
}
.lists .top p{
    padding-bottom: 17px;
    height: 30px;
    overflow: hidden;
}
.lists .top {
    padding-bottom: 17px;
    height: 30px;
    overflow: hidden;
    transition: height 0.5s linear;

}
.lists>li:hover .top{
    height: 82px;
}
.bottom .top h5{
    font-size: 14px;
}
.bottombox .top h5:nth-child(2){
    margin: 6px 0;
}
.bottombox .top p{
    font-size: 12px;
    color: #9e9d9d;
    /* 第一个值代表的是变换的属性
    第二个值代表的是动画执行的时间
    第三个值代表的是运动曲线（linear代表的是匀速运动） */
    /* transition: height 4s linear; */
}
.bottombox .info span{
    height: 45px;
    line-height: 45px;
    font-size: 12px;
    overflow: hidden;
}
.bottombox .info .price{
    float: left;
    color: #c71b7b;
}
.bottombox .info .number{
    float:right;
    color: #868488;
}
/* 灰色区域 */
.grayArea{
    width: 1527px;
    height: 430px;
    background: #F3F5F7;
    padding-top: 40px;
    box-sizing: border-box;
}
.greaAreaIn .img{
    width: 224px;
    height: 380px;
}
.greaAreaIn{
    position: relative;
}
.greaAreaIn .second .a1{
    width: 397px;
    height: 204px;
position: absolute;
left: 244px;
top: 184px;
background: url("../5.png") center center no-repeat;
}
.greaAreaIn .second .a2{
    width: 397px;
    height: 194px;
position: absolute;
left: 244px;
top: -5px;
background: url("../6.png") center center no-repeat;
}
.lists .bottombox{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;

    padding: 15px 15px 0 15px;
    box-sizing: border-box;
}
.lists .top p{
    padding-bottom: 17px;
    height: 30px;
    overflow: hidden;
}
.lists .top {
    padding-bottom: 17px;
    height: 30px;
    overflow: hidden;
    transition: height 0.5s linear;

}
.lists>li:hover .top{
    height: 82px;
}
.greaAreaIn .third{
    width: 254px;
    height: 184px;
    position: absolute;
    left: 670px;
    top: 0px;
    padding-top: 10p;
}

.greaAreaIn .fouth>img{
    background: url("../11.png")center center no-repeat;
    background-size: cover;
    width: 264px;
    height: 70px;
    position: absolute;
     right: 0px;
    top: 0px;}
    .greaAreaIn .fouth .bootmBox{
        position: absolute;
        right: 0px;
        top: 70px;
        height: 310px;
        background-color: #fff;
        width: 264px;
        padding-top: 20px;
        box-sizing: border-box;
        padding-left: 20px;

    }
    .greaAreaIn .fouth li{  
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        padding-top: 3px;
      }
/* 大盒子内容 */
.hezi{
    width: 1527px;
    height: 190px;
    background:#2e2e2e;
    margin-top: 20px;
    position: relative;
    border-bottom: 2px solid #2a2a2a;
}
.box .xiaohezi1 ul{
    float: left;
    color: #fff;
    margin:54px 50px 0px 20px;
}
.box .xiaohezi1>.alain{
    margin-left: -3px;
}

.xiaohezi2 h1{
    width: 198px;
    height: 61px;
    position: absolute;
    right: 230px;
    top: 30px;
    background: url("../bailogo.png")center center no-repeat;
}
.xiaohezi2 img{
    width: 42px;
    height: 42px;
    float: right;
}
.xiaohezi2 ul{
    padding-right: 80px;
}
.apple{
    width: 1527px;
    height: 70px;
    background: #2a2a2a;
    padding-top: 10px;
    border-top: 2px solid #2e2e2e;
}
.apple p{
    text-align: center;
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
    box-sizing: border-box;

}

